<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Meine Aufgaben
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentLoadingWithOptions()">
        <ion-icon name="sync"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="todo_heading">
      <div class="todo_text_label">Titel</div>
      <div class="todo_status_label">Status</div>
      <div class="todo_date_label">Deadline</div>
    </ion-list-header>

    <div class="accordion" *ngFor="let item of todos; let i = index;">
      <ion-item>
        <div class="todo_title" (click)="expandItem($event, i)">
          <div class="item-note todo_text">
            {{item.title}}
          </div>
        </div>

        <ng-container *ngIf="item.status == 'Finished'">
          <ion-button fill="solid" expand="full" class="item-note todo_status" color="success" (click)="changeStatus($event, item)">
            Fertig
          </ion-button>
        </ng-container>
        <ng-container *ngIf="item.status == 'Pending'">
          <ion-button fill="solid" expand="full" class="item-note todo_status" color="danger" (click)="changeStatus($event, item)">
            In Arbeit
          </ion-button>
        </ng-container>

        <span class="button-inner">
                <ion-datetime value="{{item.dueDate}}" display-format="MMM DD" readonly="true"></ion-datetime>
            </span>
      </ion-item>
      <ion-row class="panel" [hidden]="!item.isCompleted">
        <ion-col>
          <strong>Beschreibung:</strong><br>
          {{item.content}}
        </ion-col>
      </ion-row>
    </div>
    <ng-container *ngIf="todos.length <= 0">
      <div class="ion-align-self-center" style="color: darkgrey; text-align: center; margin-top: 2%; margin-bottom: 1%;">
        Keine Aufgaben vorhanden
      </div>
    </ng-container>
  </ion-list>
</ion-content>
