<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Kalender
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"
                   [weekends]="true"
                   [events]="calendarEvents"
                   [locale]="'de'"
                   [themeSystem]="'bootstrap'"
                   [header]="{
  left:   'prev',
  center: 'title',
  right:  'next'
}"
                   (dateClick)="showDateClick($event)"
                   >
    </full-calendar>
    <full-calendar #calendarComponent defaultView="listDay" [plugins]="calendarPlugins"
                   [weekends]="true"
                   [events]="calendarEvents"
                   [locale]="'de'"
                   [header]="false"
                   [themeSystem]="'bootstrap'"
                   (eventClick)="handleDateClick($event)">
    </full-calendar>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addAppointmentModal()">
        <ion-fab-button [disabled]="!editorUser">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<!--<app-list></app-list>-->
