<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Kalender
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <full-calendar #monthCalendar
                   *ngIf="defaultView"
                   [defaultView]="defaultView"
                   [plugins]="calendarPlugins"
                   [weekends]="true"
                   [events]="calendarEvents"
                   [locale]="'de'"
                   [themeSystem]="themeSystem"
                   [header]="header"
                   [nowIndicator]="true"
                   [buttonText]="buttonText"
                   eventTextColor="white"
                   (dateClick)="showDateClick($event)"
                   (eventClick)="eventClick($event)"
                   contentHeight="auto"
                   >
    </full-calendar>
    <full-calendar #dayListCalendar [hidden]="!showList" defaultView="listDay"
                   [plugins]="calendarPlugins"
                   [weekends]="true"
                   [events]="calendarEvents"
                   [locale]="'de'"
                   [header]="false"
                   [themeSystem]="themeSystem"
                   (eventClick)="eventClick($event)"
                   noEventsMessage="">
    </full-calendar>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="triggerAlert()">
        <ion-fab-button [disabled]="!editorUser">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<!--<app-list></app-list>-->
