<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Erteilte Aufgaben
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" [disabled]="!editorUser" (click)="toggleDeletion()">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="presentLoadingWithOptions()">
                <ion-icon name="sync"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header class="todo_heading">
            <div class="todo_text_label">Titel</div>
            <div class="todo_icon_label">Bearbeiter</div>
            <div class="todo_status_label">Status</div>
            <div class="todo_date_label">Deadline</div>
        </ion-list-header>

                <div class="accordion" *ngFor="let item of todos; let i = index;">
                    <ion-item>
                        <ng-container *ngIf="deletion">
                            <ion-checkbox slot="start"
                                          [(ngModel)]="item.isChecked"
                                          (ionChange)="checkEvent(item)"></ion-checkbox>
                        </ng-container>

                        <div class="todo_title" (click)="expandItem($event, i)">
                            <div class="item-note todo_text">
                                {{item.title}}
                            </div>
                        </div>

                        <ion-avatar class="todo_icon"> <!-- insert User Image here -->
                            <ion-img [src]="'/assets/image.png'"></ion-img>
                        </ion-avatar>

                        <ng-container *ngIf="item.status == 'Finished'">
                            <ion-button fill="solid" expand="full" class="item-note todo_status" color="success" (click)="changeStatus($event, item)">
                                Fertig
                            </ion-button>
                        </ng-container>
                        <ng-container *ngIf="item.status == 'Pending'">
                            <ion-button fill="solid" expand="full" class="item-note todo_status" color="danger" (click)="changeStatus($event, item)">
                                In Arbeit
                            </ion-button>
                        </ng-container>

                        <span class="button-inner">
                <ion-datetime value="{{item.dueDate}}" display-format="MMM DD" readonly="true"></ion-datetime>
            </span>
                    </ion-item>
                    <ion-row class="panel" [hidden]="!item.isCompleted">
                        <ion-col>
                            <strong>Beschreibung:</strong><br>
                            {{item.content}}
                        </ion-col>
                    </ion-row>
                </div>
                <ng-container *ngIf="todos.length <= 0">
                    <div class="ion-align-self-center" style="color: darkgrey; text-align: center; margin-top: 2%; margin-bottom: 1%;">
                        Keine Aufgaben vorhanden
                    </div>
                </ng-container>
    </ion-list>
    <ng-container *ngIf="!deletion">
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="triggerAlert()">
            <ion-fab-button [disabled]="!editorUser">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>
</ion-content>

<ng-container *ngIf="deletion">
    <ion-footer>
        <ion-toolbar>
            <ion-button slot="end" fill="clear" (click)="toggleDeletion()">
                Abbrechen
            </ion-button>
            <ion-button slot="end" fill="clear" [disabled]="toDelete.length < 1" (click)="alertDeletion()">
                Löschen
            </ion-button>
        </ion-toolbar>
    </ion-footer>
</ng-container>
