<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of todos"> <!-- (click)="openPopover($event)" -->
      <div class="item-note todo_text">
        {{item.title}}
      </div>
      <ion-icon class="todo_icon" name="person"></ion-icon>
      <ion-icon class="todo_icon" name="person"></ion-icon>
      <div class="item-note todo_status todo_{{item.status}}">
        <ng-container *ngIf="item.status == 'Finished'">
          Fertig
        </ng-container>
        <ng-container *ngIf="item.status == 'Pending'">
          In Arbeit
        </ng-container>
      </div>
      <div class="button-inner">
        <ion-datetime value="{{item.dueDate}}" display-format="DD.MM.YYYY" readonly="true"></ion-datetime>
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
