<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of todos">
      <div class="item-note" slot="start">
        {{item.title}}
      </div>
      <ion-icon name="person"></ion-icon>
      <ion-icon name="person"></ion-icon>
      <div class="item-note">
        {{item.status}}
      </div>
      <div class="button-inner" slot="end">
        {{item.dueDate}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
