.error {
  color: red;
  font-size: 0.8em;
}

.input {
  border: groove;
  border-width: thin;
  border-radius: 10px;
  margin-top: 5px;
}

.it-nat {
  width: 100%;
}

.log-button {
  -webkit-appearance: unset;
}
