 <ion-toolbar>
    <ion-title class="my-title">
      {{formattedDay}}
    </ion-title>
    <ion-button slot="end" fill="clear">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-list class="no-padding no-margin">
    <ion-row *ngFor="let item of currentEvents" class="text-10 ion-activatable spacing" (click)="eventClick(item)">
      <ion-icon [style.color]="item.backgroundColor" class="my-icon" name="square"></ion-icon>
      <ion-col class="col-wrap">
        <ion-row>
          <ion-label class="tekst-wrap">{{item.title}}</ion-label>
        </ion-row>
        <ion-row>
          <ng-container *ngIf="item.allDay">
            <ion-text class="my-text">Ganztägig</ion-text>
          </ng-container>
          <ng-container *ngIf="!item.allDay">
            <ng-container *ngIf="item.startTime">
              <ion-text class="my-text">{{formatTime(item.startTime)}} - {{formatTime(item.endTime)}}</ion-text>
            </ng-container>
            <ng-container *ngIf="!item.startTime">
              <ion-text class="my-text">{{getTime(item.start)}} - {{getTime(item.end)}}</ion-text>
            </ng-container>
          </ng-container>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-toolbar>
    <ion-button slot="end" fill="clear" (click)="dismiss()">
      SCHLIESSEN
    </ion-button>
  </ion-toolbar>
