/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@fullcalendar/core/main.css';
@import "~@fullcalendar/bootstrap/main.css";
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

@import '~@fortawesome/fontawesome-free/css/all.css';

@media only screen and (max-width: 410px) {
  .btn {
    font-size: 0.6rem !important;
  }
  .fc-button {
    font-size: 0.8rem !important;
  }
  .fc-center {
    font-size: 0.5rem !important;
  }
}

@media screen and (max-width: 479px) {
  .btn {
    font-size: 0.8rem !important;
  }
  .fc-button {
    font-size: 0.8rem !important;
  }
  .fc-center {
    font-size: 0.5rem !important;
  }
}

:root {
  --ion-color-primary: #eec900;
  --ion-color-primary-rgb: 238,201,0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #d1b100;
  --ion-color-primary-tint: #f0ce1a;
}

.btn-primary {
  background-color: unset;
  border: unset;
}

.fc-button-primary {
  color: unset;
  background-color: unset;
  border: unset;
}

.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
  color: #fff;
  background-color:#eec900;
  border-color: #eec900;
  border-radius: 20px;
}

.fc-toolbar.fc-header-toolbar {
  margin-top: 1%;
}

body.dark {
  --ion-color-primary: #eec900;
  --ion-color-primary-rgb: 238,201,0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #d1b100;
  --ion-color-primary-tint: #f0ce1a;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #eec900;
  border-color: #eec900;
  border-radius: 20px;
}

@font-face {
  font-family: avenir;
  src: url(assets/avenir/AvenirNextLTPro-Regular.otf) format("opentype");
}

* {
  font-family: 'avenir', 'arial', sans-serif;
}

.fc-myCustomButton-button {
  font-size: 1.2rem !important;
  margin: unset;
  padding-top: unset;
  padding-bottom: unset;
  margin-right: 5px;
  background-color: #eec900;
  color: white;
  border-radius: 20px;
}

.fc-view-container {
  font-size: 0.8em;
}

.fc-toolbar.fc-footer-toolbar {
  margin-top: unset;
}

.fc-head {
  border-top: hidden;
}

.fc-day-header {
  border: hidden !important;
}
.fc-other-month {
  background-color: lightgray;
  opacity: 0.3;
}

.fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: unset;
}
.fc-button-primary:hover {
  background-color: #eec900;
  border-color: #eec900;
}
.now-indic {
  background-color: #eec900 !important;
}
.fc-unthemed td.fc-today {
  background: #fcf8e39e;
}
.alert-info {
  background-color: #fcf8e39e;
}
thead {
  line-height: 0.9;
  font-size: 0.8em;
}
.fc-head {
  border-bottom: thin;
}
