<ion-header>
  <ion-toolbar>
    <ion-title>Neuer Termin</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ng-container *ngIf="form.get('title').dirty && form.get('title').errors">
    <div class="error">
      <ng-container *ngIf="form.get('title').hasError('required')">
        Ein Titel muss festgelegt werden
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="form.get('start').dirty && form.get('start').errors">
  <div class="error">
    <ng-container *ngIf="form.get('start').hasError('required')">
      Eine Startzeit muss festgelegt werden
    </ng-container>
  </div>
  </ng-container>
  <ng-container *ngIf="form.get('end').dirty && form.get('end').errors">
    <div class="error">
      <ng-container *ngIf="form.get('end').hasError('required')">
        Eine Endzeit muss festgelegt werden
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="form.get('startTime').dirty && form.get('startTime').errors">
    <div class="error">
      <ng-container *ngIf="form.get('startTime').hasError('required')">
        Eine Uhrzeit muss festgelegt werden
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="form.get('endTime').dirty && form.get('endTime').errors">
    <div class="error">
      <ng-container *ngIf="form.get('endTime').hasError('required')">
        Eine End-Uhrzeit muss festgelegt werden
      </ng-container>
    </div>
  </ng-container>

  <form [formGroup]="form">
    <ion-item class="ion-align-items-center ion-padding">
      <ion-input autocomplete="true" required="true" formControlName="title" placeholder="Terminname"></ion-input>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding">
      <ion-label>Terminfarbe</ion-label>
      <ion-select multiple="false" cancelText="Abbruch" okText="Bestätigen" formControlName="backgroundColor">
        <ion-select-option value="grey">Grau</ion-select-option>
        <ion-select-option value="blue">Blau</ion-select-option>
        <ion-select-option value="#93A661">Grün</ion-select-option>
        <ion-select-option value="#c02f1d">Rot</ion-select-option>
        <ion-select-option value="#f26d21">Orange</ion-select-option>
        <ion-select-option value="#d3b53d">Dunkelgelb</ion-select-option>
        <ion-select-option value="#0d3d56">Dunkelblau</ion-select-option>
        <ion-select-option value="#9a2617">Dunkelrot</ion-select-option>
        <ion-select-option value="#829356">Dunkelgrün</ion-select-option>
        <ion-select-option value="#c2571a">Dunkelorange</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding">
        <ion-label>Teamrelevant</ion-label>
        <ion-toggle color="primary" (click)="toggleGlobal()" [checked]="global"></ion-toggle>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding">
        <ion-label>Ganztägig</ion-label>
        <ion-toggle color="primary" (click)="toggleAllDay()"></ion-toggle>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding">
      <ion-datetime slot="start" displayFormat="DD MMM YY" formControlName="start"
                    [monthShortNames]="monthNames"
                    [value]="minDate"
                    [min]="minDate"
                    [max]="maxDate"></ion-datetime>
      <ion-icon class="time-arrow" name="arrow-dropright"></ion-icon>
      <ion-datetime slot="end" displayFormat="DD MMM YY" formControlName="end"
                    [monthShortNames]="monthNames"
                    [value]="minDate"
                    [min]="minDate"
                    [max]="maxDate"></ion-datetime>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding" *ngIf="!allDay">
      <ion-datetime slot="start" displayFormat="HH:mm" formControlName="startTime"
                    [minuteValues]="minuteValues"
                    [value]="minDate"></ion-datetime>
      <ion-icon class="time-arrow" name="arrow-dropright"></ion-icon>
      <ion-datetime slot="end" displayFormat="HH:mm" formControlName="endTime"
                    [minuteValues]="minuteValues"
                    [value]="minDate"></ion-datetime>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding">
      <ion-label>Wiederholen</ion-label>
      <ion-select multiple="true" cancelText="Abbruch" okText="Bestätigen" formControlName="daysOfWeek">
        <ion-select-option value="0">Sonntag</ion-select-option>
        <ion-select-option value="1">Montag</ion-select-option>
        <ion-select-option value="2">Dienstag</ion-select-option>
        <ion-select-option value="3">Mittwoch</ion-select-option>
        <ion-select-option value="4">Donnerstag</ion-select-option>
        <ion-select-option value="5">Freitag</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding">
      <ion-label position="floating">Beschreibung</ion-label>
      <ion-input autocomplete="true" required="false" formControlName="content"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="dismiss()" fill="clear">
      Abbruch
    </ion-button>
    <ion-button slot="end" (click)="onSubmit()" fill="clear" >
      Speichern
    </ion-button>
  </ion-toolbar>
</ion-footer>

