<ion-header>
  <ion-toolbar>
    <ion-title>Neuer Termin</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ng-container *ngIf="form.get('title').dirty && form.get('title').errors">
    <div class="error">
      <ng-container *ngIf="form.get('title').hasError('required')">
        Ein Titel muss festgelegt werden
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="form.get('startDay').dirty && form.get('startDay').errors">
  <div class="error">
    <ng-container *ngIf="form.get('startDay').hasError('required')">
      Eine Startzeit muss festgelegt werden
    </ng-container>
  </div>
  </ng-container>
  <ng-container *ngIf="form.get('endDay').dirty && form.get('endDay').errors">
    <div class="error">
      <ng-container *ngIf="form.get('endDay').hasError('required')">
        Eine Endzeit muss festgelegt werden
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="form.get('startHour').dirty && form.get('startHour').errors">
    <div class="error">
      <ng-container *ngIf="form.get('startHour').hasError('required')">
        Eine Uhrzeit muss festgelegt werden
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="form.get('endHour').dirty && form.get('endHour').errors">
    <div class="error">
      <ng-container *ngIf="form.get('endHour').hasError('required')">
        Eine End-Uhrzeit muss festgelegt werden
      </ng-container>
    </div>
  </ng-container>

  <form [formGroup]="form">
    <ion-item class="ion-align-items-center ion-padding">
      <ion-input autocomplete="true" required="true" formControlName="title" placeholder="Terminname"></ion-input>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding">
        <ion-label>Ganztägig</ion-label>
        <ion-toggle color="primary" (click)="toggleAllDay()"></ion-toggle>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding">
      <ion-datetime slot="start" displayFormat="DD MMM YY" formControlName="startDay" [monthShortNames]="monthNames" [value]="minDate" [min]="minDate" [max]="maxDate"></ion-datetime>
      <ion-icon class="time-arrow" name="arrow-dropright"></ion-icon>
      <ion-datetime slot="end" displayFormat="DD MMM YY" formControlName="endDay" [monthShortNames]="monthNames" [value]="minDate" [min]="minDate" [max]="maxDate"></ion-datetime>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding" *ngIf="!allDay">
      <ion-datetime slot="start" displayFormat="HH:mm" formControlName="startHour" [value]="minDate"></ion-datetime>
      <ion-icon class="time-arrow" name="arrow-dropright"></ion-icon>
      <ion-datetime slot="end" displayFormat="HH:mm" formControlName="endHour" [value]="minDate"></ion-datetime>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding">
      <ion-label>Wiederholen</ion-label>
      <ion-select multiple="true" cancelText="Abbruch" okText="Bestätigen" formControlName="daysOfWeek">
        <ion-select-option value="0">Sonntag</ion-select-option>
        <ion-select-option value="1">Montag</ion-select-option>
        <ion-select-option value="2">Dienstag</ion-select-option>
        <ion-select-option value="3">Mittwoch</ion-select-option>
        <ion-select-option value="4">Donnerstag</ion-select-option>
        <ion-select-option value="5">Freitag</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding">
      <ion-label position="floating">Beschreibung</ion-label>
      <ion-input autocomplete="true" required="false" formControlName="content"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="dismiss()" fill="clear">
      Abbruch
    </ion-button>
    <ion-button slot="end" (click)="onSubmit()" fill="clear" [disabled]="form.invalid">
      Speichern
    </ion-button>
  </ion-toolbar>
</ion-footer>

